header {
  font-size: 3rem;
  background-color: var(--anotherBackgroundColor);
  margin-bottom: 1rem;
  color: color(var(--textColor) lightness(50%));
  font-variant-caps: small-caps;
  position: relative;
  padding: var(--spacer);
}

.h1-like {
  font-size: var(--fontSizeBig);
  font-weight: var(--fontWeightBold);
}

.h2-like {
  font-size: var(--fontSizeSmall);
  text-transform: uppercase;
}

.titel__img {
  display: flex;
}
