@import './css/reset.css';
@import './css/vars.css';
@import './css/header.css';
@import url(https://fonts.googleapis.com/css?family=Roboto&display=swap);

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
/*stylelint-disable*/
*,
*::before,
*::after {
  box-sizing: inherit;
}
/*stylelint-enable*/

body {
  font-size: 2rem;
  font-family: Roboto, sans-serif;
  background-color: var(--backgroundColor);
  color: var(--textColor);
}

.h2-like {
  font-size: var(--fontSizeSmall);
}

.h1-like {
  font-size: var(--fontSizeBig);
}

strong {
  font-weight: bold;

  @nest p & {
    /** [TODOLABO]: enkel om @nest  voorbeeld aan te halen, je hoeft niets aan te passen **/
    color: darkorange;
  }
}

/** [TODOLABO]: maak gebruik van nieuwe media query syntax */
@media screen and (width >= 500px) {

  h1 {
    font-size: 6vw;
  }
}
