@import './css/reset.css';
@import './css/vars.css';
@import './css/header.css';
@import url(https://fonts.googleapis.com/css?family=Roboto&display=swap);

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
/*stylelint-disable*/
*,
*::before,
*::after {
  box-sizing: inherit;
}
/*stylelint-enable*/

body {
  font-size: 2rem;
  font-family: Roboto, sans-serif;
  background-color: var(--backgroundColor);
  color: var(--textColor);
}

.title_mini {
  font-size: var(--fontSizeSmall);
  text-transform: uppercase;
}

.emptystate {
  margin: 0 auto;
  display: flex;
  flex-flow: column;
}

.visually-hidden {
  display: none;
}

.content {
  display: flex;
  justify-content: center;
  margin: var(--spacer);
}

.footer {
  background-color: var(--anotherBackgroundColor1);
  display: flex;
  justify-content: space-around;
  padding: 2rem;
}

.footer_text {
  color: white;
}

/** [TODOLABO]: maak gebruik van nieuwe media query syntax */
@media screen and (width >= 828px) {

  main {
    display: flex;
  }

  .prices {
    height: 509px;
  }
}
